<div class="p-6 space-y-6">
  <!-- Car Types Section -->
  <div class="space-y-4">
    <h3 class="text-lg font-semibold text-gray-800 border-b pb-2">Car Types</h3>
    <div class="space-y-2">
      @for (carType of carTypes$ | async; track carType.id) {
      <app-custom-checkbox
        [formControl]="carType.filterControl"
        [name]="carType.name"
      >
      </app-custom-checkbox>
      }
    </div>
  </div>

  <!-- Car Brands Section -->
  <div class="space-y-4">
    <h3 class="text-lg font-semibold text-gray-800 border-b pb-2">
      Car Brands
    </h3>
    <div class="space-y-2">
      @for (carBrand of carBrands$ | async; track carBrand.id) {
      <app-custom-checkbox
        [formControl]="carBrand.filterControl"
        [name]="carBrand.name"
      >
      </app-custom-checkbox>
      }
    </div>
  </div>
</div>
