<div
  class="flex items-center justify-between py-4 px-8 border-b-2 bg-white border-gray-200"
>
  <div class="flex items-center">
    <a routerLink="/rental-car"
      ><img src="assets/logo.png" alt="Logo" class="h-8 mr-2"
    /></a>
    <h1 class="text-xl font-bold">Rental Car</h1>
  </div>
  <div class="flex items-center space-x-4">
    <a
      routerLink="/rental-car"
      class="cursor-pointer text-gray-700 hover:text-blue-600"
      >Rental Car</a
    >
    <a
      routerLink="/reservation"
      class="relative cursor-pointer text-gray-700 hover:text-blue-600"
      >Reservation
    </a>
  </div>
</div>
